@charset "utf-8";

.circle1{
  width: 80px;
  height: 80px;
  border-radius: 50%;
  border: 1px #000 solid;
  background: red;/*背景色*/
}
.circle2{
  width: 80px;
  height: 80px;
  border-radius: 50%;
  border: 1px #000 solid;
  background: orange;/*背景色*/
}
.circle3{
  width: 80px;
  height: 80px;
  border-radius: 50%;
  border: 1px #000 solid;
  background: yellow;/*背景色*/
}
.circle4{
  width: 80px;
  height: 80px;
  border-radius: 50%;
  border: 1px #000 solid;
  background: greenyellow;/*背景色*/
}
.circle5{
  width: 80px;
  height: 80px;
  border-radius: 50%;
  border: 1px #000 solid;
  background: skyblue;/*背景色*/
}
.circle6{
  width: 80px;
  height: 80px;
  border-radius: 50%;
  border: 1px #000 solid;
  background: blue;/*背景色*/
}
.circle7{
  width: 80px;
  height: 80px;
  border-radius: 50%;
  border: 1px #000 solid;
  background: blueviolet;/*背景色*/
}




/* .circle1{
  background: #fff!important;
} */
.circle2{
  background: #fff!important;
}
.circle3{
  background: #fff!important;
}
.circle4{
  background: #fff!important;
}
.circle5{
  background: #fff!important;
}
.circle6{
  background: #fff!important;
} */